name: cron-job-sdk-next

on:
  schedule:
    - cron: '0 0 * * *'
jobs:
  skip-up-to-date-schedules:
    runs-on: ubuntu-latest
    outputs:
      out_of_date_next: ${{ steps.set_output.outputs.sdk7-next == 0 }}
      out_of_date_latest: ${{ steps.set_output.outputs.sdk7-latest == 0 }}
    steps:
      - name: SDK7 outdated status (value == 0 is out-of-date)
        id: set_output
        run: |
          echo "sdk7-latest=$(curl -s https://api.github.com/repos/decentraland/js-sdk-toolchain/releases/latest | jq -r "((now - (.published_at | fromdateiso8601) ) / (60*60*24) | trunc)")"

  build-and-deploy-latest:
    needs: [skip-up-to-date-schedules]
    uses: ./.github/actions/deploy-with-version
    with:
      dcl-sdk-package: '@dcl/sdk@latest'
    secrets:
      SDK_TEAM_S3_BUCKET: ${{ secrets.SDK_TEAM_S3_BUCKET }}
      SDK_TEAM_AWS_ID: ${{ secrets.SDK_TEAM_AWS_ID }}
      SDK_TEAM_AWS_SECRET: ${{ secrets.SDK_TEAM_AWS_SECRET }}
      SDK_TEAM_S3_BASE_URL: ${{ secrets.SDK_TEAM_S3_BASE_URL }}
      AB_TOKEN: ${{ secrets.AB_TOKEN }}
